*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-all{
    background-color:  rgba(0,0,0,0.12) ;
    padding: 2rem 2rem;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    position: fixed;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);

}
@font-face {
    font-family: PoppinsBold;
    src: url(fonts/Poppins-Medium.ttf);
}
.logo{
    width: 10%;
}
.logo img{
width: 100%;
}
nav{
    width: 70%;
 
}
nav a{
    text-decoration: none;
    color: #fff;
    margin-left: 40px;
    font-family: Poppins;
    font-size: 15px;
}
nav .purple-a{
    background-color: #BA71DA;
    padding: 10px 20px;
    border-radius: 30px;
}
.icon i{
    font-size: 30px;
    color: #fff;
}
#Photosection{
    background-image: url(/photos/parallax-2.jpg);
    background-position:center;
    background-size: inherit;
    text-align: center;
    padding: 18rem 0;
}
#Photosection h1{
font-size: 50px;
color: #fff;
font-family: PoppinsBold;
margin-bottom: 10px;
}
#Photosection h6{
 font-size: 20px;
color: #fff;
font-family: Poppins;
font-weight: 300;
letter-spacing: 5px;
}

#Photosection #Destination{
    background-color: #F9F9F9;
    width: 25%;
    color: #A3A3A3;
    font-size: 15px;
    font-family: Poppins;
    padding: 10px 25px ;
    border-radius: 30px;
    outline: none;
    margin-top: 50px;
}
#Travel h3{
    color: #9a9a9a;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: Poppins;
}
#Travel  h2{
    font-size: 36px;
    letter-spacing: 0px;
    font-weight: bold;
    font-family: PoppinsBold;
    color: #555555;
    
}
#Travel {
    text-align: center;  
    padding: 50px 0 5rem;
}
.travel-boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10rem;
  

}
.tbox{
    width: 32%;
    margin-top: 25px;
}
.tbox img{
    width: 100%;
    vertical-align: bottom;
}
.tbox:hover{
cursor: pointer;
}

